# Module 1: Introduction to everything

In [1]:
print("Hello World!")

Hello World!

## Objevtive

### Python Basics

- Strings - Creating a String, variable assignments - String Indexing & Slicing String Concatenation & Repetition - Basic Built-in String Methods
- Numbers - Types of Numbers - Basic Arithmetic

### Data Types & Data Structures
- Lists
- Dictionaries
- Sets & Booleans

### Python Programming Constructs
- Loops & Iterative Statements - if,elif,else statements - for loops, while loops

### Creating a String

In [2]:
# Single word
print('hello')

hello

In [3]:
s = 'New York'
print(s)

New York

In [5]:
print(type(s))
print(len(s))

<class 'str'>
8

#### String Indexing

In [6]:
# Assign s as a string
s = 'Hello World'
# Print the object
print(s)

Hello World

In [8]:
# Show first element (in this case a letter)
print(s[0])

H

In [10]:
# Show the second element (also a letter)
print(s[1])

e

#### String Concatenation and Repetition
- String Concatenation is a process to combine two strings. It is done using the '+' operator.
- String Repetition is a process of repeating a same string multiple times

In [11]:
# concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [12]:
# repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

#### String Slicing & Indexing
- String Indexing is used to to select the letter at a particular index/position.
- String Slicing is a process to select a subset of an entire string

In [13]:
s = "Namaste World"

In [14]:
# print sub strings
print(s[1]) #This is indexing.
print(s[6:11]) #This is known as slicing.
print(s[-5:-1])

a
e Wor
Worl

In [15]:
# test substring membership
print("Wor" in s)

True

#### Basic Built-in String methods

In [18]:
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Uppercase..!!
print(s.lower())

HELLO WORLD
hello world

#### Print Formatting
We can use the .format() method to add formatted objects to printed string statements.

In [19]:
name = "Einstein"
age = 22
married = True

In [20]:
print("My name is %s, my age is %s, and it is %s that I am married" %
(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

In [22]:
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married

## Numbers

Having worked with string we will turn our attention to numbers
We'll learn about the following topics:
1. Types of Numbers in Python
2. Basic Arithmetic
3. Object Assignment in Python

### Basic Arithmetic

In [23]:
# Addition
print(2+1)

3

In [24]:
# Subtraction
print(2-1)

1

In [25]:
# Multiplication
print(2*2)

4

In [26]:
# Division
print(3/2)

1.5

### Arithmetic continued

In [27]:
# Powers
2**3

8

In [28]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [29]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Data Types & Data Structures
1. Everything in Python is an "object", including integers/floats
2. Most common and important types (classes)
- "Single value": None, int, float, bool, str, complex
- "Multiple values": list, tuple, set, dict
3. Single/Multiple isn't a real distinction, this is for explanation
4. There are many others, but these are most frequently used

In [30]:
#Identifying Data Types
a = 42
b = 32.30
print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

### Single Value Types
- int: Integers
- float: Floating point numbers
- bool: Boolean values (True, False)
- complex: Complex numbers
- str: String

### Lists
- append: add element to end of list
- insert: insert element at given index
- extend: extend one list with another list

In [34]:
# Assign a list to an variable named my_list
my_list = [1,2,3]
len(my_list)

3

In [33]:
my_list = ['A string',23,100.232,'o']
len(my_list)

4

#### Adding New Elements to a list

In [35]:
my_list = ['one','two','three',4,5]
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [36]:
# extend a list with another list.
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

#### Slicing
The syntax for slicing lists is:
- list_object[start:end:step] or
- list_object[start:end]

In [38]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])

elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]

In [40]:
print("every third element, starting at index 1:", lst[1::3])
# prints elements from index 1 till last index with a step of 3

every third element, starting at index 1: [1, 4, 7]

### Dictionaries
This section will serve as a brief introduction to dictionaries and consist of:
1. Constructing a Dictionary
2. Accessing objects from a dictionary
3. Nesting Dictionaries
4. Basic Dictionary Methods

#### Constructing a Dictionary

In [41]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}
# Call values by their key
my_dict['key2']

'value2'

In [46]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [47]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123
#Check
my_dict['key1']

0

In [48]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [50]:
# Create a new dictionary
d = {}
# Create a new key through assignment
d['animal'] = 'Dog'
d

{'animal': 'Dog'}

## Set and Booleans

### Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function.

In [51]:
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

In [53]:
# Add a different element
x.add(2)
#Show
x

{1, 2}

In [54]:
#Try to add the same element
x.add(1)
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with 
unique elements! We can cast a list with multiple repeat elements to a set to get the unique 
elements

In [55]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}